$mainColor: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%)
.container
    display: flex
    max-width: 1170px
    margin: 0 auto
.logo
    display: flex
    flex-direction: row
.pagesLinks
    display: flex
    flex-direction: row
    p
        margin: 0 10px
.subfooter
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 50px auto 
.mainSlogan
    display: flex
    flex-direction: column
    margin: 200px auto 250px
    .button
        width: 179px
        height: 53px
        border-radius: 7px 
        background: $mainColor
        color: #FFFFFF
    &:only-child
        margin: 10px