$mainColor: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%)
.container
    display: flex
    max-width: 1170px
    margin: 0 auto
.logo
    display: flex
    flex-direction: row
.pagesLinks
    display: flex
    flex-direction: row
    p
        margin: 0 10px
.subfooter
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 50px auto 
.mainSlogan
    display: flex
    flex-direction: column
    margin: 200px auto 250px
    .button
        width: 179px
        height: 53px
        border-radius: 7px 
        background: $mainColor
        color: #FFFFFF
    p
        margin: 10px 0    
    &:only-child
        margin: 10px  
.advantages
    display: flex
    flex-direction: column
    max-width: 350px
    margin: 90px auto 220px
    border-radius: 7px
    border: 2px solid  #FFFFFF
    img
        width:363px
.blockAdventages
    display: flex   
    flex-direction: row    
.backImg1
    position: absolute
    right: 0
    margin-right: 350px  
    z-index: 1   
.backImg2
    position: absolute
    right: 0
    margin-right: 280px
    margin-top: 70px
.description
    background: #ffffff
    z-index: 0
    border-radius: 0 0 9px 9px
    box-shadow: 0px 0px 10px -5px #e0189e
.text
    margin: 20px        
.eva
    background-image: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent