<header-cmp inline-template>
    <header class="t-header">
        <div class='header container'>
            <div>
                <img src='/img/phoneIcon.png' alt='телефон'>
                <p>+375 29 292-29-29 (VEL)</p>
                <p>+375 33 333-33-33 (МТС)</p>
            </div>
            <div class='container'>
                <img src='/img/locateIcon.png' alt='местоположение'>
                <p>ваш город</p>
            </div>
            <div class='container'>
                <img class='inst' src='/img/instaIcon.png' alt='инста'>
                <p>посетите нашу <br>страницу</p>
            </div>
        </div>
    </header>
</header-cmp>
