<footer class="t-footer container">
    <div class='column'>
        <h6>
            МЫ В СОЦИАЛЬНЫХ СЕТЯХ
        </h6>
        <img class='insta' src="/img/instagramIcon.png" alt="иконка инстаграмма">
    </div>
    <div class='column'>
        <h6>
            КОНТАКТНЫЕ ТЕЛЕФОНЫ
        </h6>
        <p>
            +375 29 292-29-29 (VEL)
        </p>
        <p>
            +375 33 333-33-33 (МТС)
        </p>
    </div>
    <div class='column'>
         <h6>
            О НАС
        </h6>
        <p>
            Индивидуальное изготовление EVA ковриков для вашего автомобиля

            ваш город
        </p>
    </div>
</footer>
