<footer class="t-footer container">
<img class='backImg6' src='/img/backImg6.png' alt="фон">
<img class='backImg7' src='/img/backImg7.png' alt="фон">
    <div class='column'>
        <h6>
            <b>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</b>
        </h6>
        <img class='insta' src="/img/instagramIcon.png" alt="иконка инстаграмма">
    </div>
    <div class='column'>
        <h6>
            <b>КОНТАКТНЫЕ ТЕЛЕФОНЫ</b>
        </h6>
        <p>
            +375 29 292-29-29 (VEL)
        </p>
        <p>
            +375 33 333-33-33 (МТС)
        </p>
    </div>
    <div class='column'>
         <h6>
            <b>О НАС</b>
        </h6>
        <p>
            Индивидуальное изготовление EVA ковриков для вашего автомобиля

            ваш город
        </p>
    </div>
</footer>
